<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body class="container-fluid">
        <%- include('../partials/header') %>
        <main class="container">
            <div class="row d-flex flex-column justify-content-center align-items-center">
                <h1> Memories <span class="text-dark">Back Then</span></h1>
                <h4>Here are the most favored 2020 memories from people like you. Add to the list!</h4>
                <br />
                <a href="/memories/new" class="btn btn-large login-btn">ADD YOUR MEMORY<i class="ml-2 fas fa-plus"></i></a>
            </div>
            <div class="row d-flex align-items-center memories-container">
                <% memories.forEach(function(memory) { %> 
                <div class="col-lg-3 col-md-6 col-12 align-self-stretch">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= memory.title %></h5>
                            <p class="card-text"><%= memory.caption %></p>
                            <p class="card-text"><%= memory.createdAt.toLocaleDateString() %></p>
                            <% if(memory.uploadedBy.equals(user && user._id)) { %>
                            <div class="d-flex">
                                <h6 class="username"><%= user.name %></6>
                                <a href="/" class="card-link">View</a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>